.App {
  gap: 10px;
  padding: 1rem;
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Scrollable {
  margin: 5px;
  padding: 5px;
  height: 80vh;
  overflow: auto;
  text-align: justify;
}


.VideoInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #ddd;
}


.VideoInput_input {
  display: none;
}

.VideoInput_video {
  margin: 0px;
}

.VideoInput_footer {
  background: #eee;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
}